$header-height: 55px;

.LinkLAuth{
    text-decoration: none;
    color: #fff;

    &:hover{
        color: #ccc;
    }
}

.Header{
    background-color: #000;
    color: #fff;
    width: 100%;
    height: $header-height;
    padding: 0 0 0 120px;
    position: relative;

    .HeaderIcon{
        position: absolute;
        right: 8vw;
        top: 50%;
        transform: translateY(-50%);
    }
}

.Side{
    width: 100vw;
    height: calc(100vh - $header-height);
    background-color: rgba($color: #000000, $alpha: 0.6);
    position: fixed;
    top: $header-height;
    left: 0;
    z-index: 999;

    .SideCover{
        width: 260px;
        height: 100%;
        position: absolute;
        top: 0;
        border-right: 1px solid #000;
        background-color: #fff;

        $link-size-margin: 10vh;
        .Link{
            margin: $link-size-margin 0px $link-size-margin 75px;
            font-size: 1.2rem;
        }
    }
}

.SideButton{
    position: absolute;
    line-height: $header-height;
    top: 0;
    left: $header-height;
    color: #fff;

    &:hover{
        cursor: pointer;
    }

    .humberger {
        position: relative;
        height: 20px;
        width: 28px;
        display: inline-block;
        box-sizing: border-box;

        div {
            position: absolute;
            left: 0;
            height: 2px;
            width: 28px;
            background-color: #fff;
            border-radius: 2px;
            display: inline-block;
            box-sizing: border-box;

            &:nth-of-type(1) {
                bottom: 13px;
            }

            &:nth-of-type(2) {
                bottom: 3px;
            }

            &:nth-of-type(3) {
                bottom: -6px;
            }
        }
    }
}

$header-icon-size: 44px;

.NewRegister{
    display: flex;

    div{
        margin-left: 1.3vw;

        .RegisterBlock{
            position: absolute;
            top: $header-height;
            right: 10vw;
        }
    }
}

.IconProfileImg{
    width: $header-icon-size;
    height: $header-icon-size;
    background-color: #fff;
    border-radius: 50%;

    img{
        width: 100%;
        height: 100%;
        border-radius: 50%;

        &:hover{
            cursor: pointer;
        }
    }
}

.Create{
    width: 100vw;
    text-align: center;

    .CreateDiv{
        width: 400px;
        position: relative;
        margin: 80px auto 0 auto;
        padding: 0 0 0 0;
        text-align: left;

        .CreateItem{
            width: 100%;
            margin: 0px 0 30px 0;

            .title{
                font-size: 0.8rem;
                color: rgb(62, 62, 62);
                margin: 0 0 10px 0;
            }

            .inputText{
                width: 400px;
                height: 2.4rem;
            }

            .PreviewImg{
                width: 400px;
                height: 300px;
                object-fit: scale-down;
                background-color: rgb(242, 238, 238);
                border: none;

                &:hover{
                    cursor: pointer;
                }
            }
        }

        .Button{
            background-color: #000;
            color: #fff;
            padding: 8px 20px;
            border-radius: 10px;
            width: fit-content;
            margin: 0 0 80px 0 ;

            &:hover{
                cursor: pointer;
            }
        }

        .ButtonNone{
            background-color: #000;
            color: #fff;
            padding: 8px 20px;
            border-radius: 10px;
            width: fit-content;
            margin: 0 0 80px 0 ;
            opacity: 0.7;
        }
    }
}


.NotFound404{
    width: 100vw;
    height: calc(100vh - $header-height);
    position: relative;

    div{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 1.6rem;
        color: rgb(66, 66, 66);
    }
}

.NotUserPage{
    width: 100%;
    text-align: center;

    .LoginTitle{
        font-size: 1.6rem;
        margin: 60px 0 0 0;
    }

    .Button{
        width: 63%;
        background-color: #000;
        color: #fff;
        padding: 15px 0;
        margin: 50px auto;
        border-radius: 10px;
    }
}
