.Show{
    width: 100vw;
    display: flex;
    padding: 60px 0 0 0;

    .productImg{
        width: 39vw;
        height: 39vw;
        position: relative;
        margin: 0 0 0 13vw;
        background-color: #ccc;

        img{
            width: 100%;
            height: 100%;
            object-fit: scale-down;
        }
    }

    .ProductIntroduce{
        width: 500px;
        margin: 0 0 0 60px;

        .Title{
            font-size: 2rem;
        }

        .Introduce{
            margin: 20px 0 0 0;
        }

        .money{
            margin: 20px 0 0 0;
            font-size: 1.5rem;
        }

        .PurchaseButton{
            margin: 40px 0 0 0;
            background-color: rgb(34, 34, 34);
            color: #fff;
            position: relative;
            width: 100%;
            height: 50px;
            border-radius: 10px;

            &:hover{
                cursor: pointer;
            }

            div{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }
}

.Like{
    margin: 24px 0 0 0;

    &:hover{
        cursor: pointer;
    }
}

.UnLike{
    margin: 24px 0 0 0;
    color: rgb(206, 82, 109);

    &:hover{
        cursor: pointer;
    }
}
